/target
/lib
/classes
/checkouts
/resources/public/third-party
/resources/public/app.js
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*~
libpeerconnection.log
.clj-kondo
.lein-repl-history