{:text-file "resources/chapters/chapter-6.md"
 :exercises 
 [{:question "Find people younger than \"Sylvester Stallone\" and their ages."
   :inputs [{:type :query
             :value [:find ?person ?age ...]
             :correct-value [:find ?name ?age 
                             :where 
                             [?p :person/name "Sylvester Stallone"] 
                             [?p :person/born ?sborn] 
                             [?p2 :person/name ?name] 
                             [?p2 :person/born ?born] 
                             [(< ?sborn ?born)] 
                             [(learndatalogtoday.handler/age ?born #inst "2013-07-21T00:00:00.000-00:00") ?age]]}]}

 {:question "Who's born on the same day and month as Ridley Scott? Not including Ridley Scott himself."
   :inputs [{:type :query
             :value [:find ?name :where ...]
             :correct-value [:find ?name
                             :where
                             [?r :person/name "Ridley Scott"]
                             [?r :person/born ?rborn]
                             [?p :person/name ?name]
                             [?p :person/born ?born]
                             [(.getMonth ?rborn) ?m]
                             [(.getDate ?rborn) ?d]
                             [(.getMonth ?born) ?m]
                             [(.getDate ?born) ?d]
                             [(not= ?name "Ridley Scott")]]}]}]}
