{:title "Parameterized Queries"
 :text-file "resources/chapters/chapter-3.md"

:exercises 
 [{:question "Find movie title by year"
   :inputs [{:type :query
             :value [:find ?title :in $ ?year :where ...]
             :correct-value [:find ?title 
                             :in $ ?year 
                             :where 
                             [?m :movie/year ?year] 
                             [?m :movie/title ?title]]}
            {:type :value
             :value 1988}]}
  {:question "Given a list of movie titles, find the title and the year that movie was released."
   :inputs [{:type :query
             :value [:find ?title ?year :in ... :where ...]
             :correct-value [:find ?title ?year 
                             :in $ [?title ...] 
                             :where 
                             [?m :movie/title ?title] 
                             [?m :movie/year ?year]]}
            {:type :value
             :value ["Lethal Weapon" "Lethal Weapon 2" "Lethal Weapon 3"]}]}

  {:question "Find all movie `?title`s where the `?actor` and the `?director` has worked together"
   :inputs [{:type :query
             :value [:find ?title 
                     :in $ ?actor ?director
                     :where 
                     ...]
             :correct-value [:find ?title 
                             :in $ ?actor ?director
                             :where 
                             [?a :person/name ?actor]
                             [?d :person/name ?director]
                             [?m :movie/cast ?a]
                             [?m :movie/director ?d]
                             [?m :movie/title ?title]]}
            {:type :value
             :value "Michael Biehn"}
            {:type :value
             :value "James Cameron"}]}

  {:question "Write a query that, given an actor name and a relation with movie-title/rating, finds the movie titles and corresponding rating for which that actor was a cast member."
   :inputs [{:type :query
             :value [:find ?title ?rating :in ... :where ...]
             :correct-value [:find ?title ?rating 
                             :in $ ?name [[?title ?rating]] 
                             :where 
                             [?p :person/name ?name] 
                             [?m :movie/cast ?p] 
                             [?m :movie/title ?title]]}
            {:type :value
             :value "Mel Gibson"}
            {:type :value
             :value [["Die Hard" 8.3] 
                     ["Alien" 8.5]
                     ["Lethal Weapon" 7.6]
                     ["Commando" 6.5]
                     ["Mad Max Beyond Thunderdome" 6.1] 
                     ["Mad Max 2" 7.6]
                     ["Rambo: First Blood Part II" 6.2]
                     ["Braveheart" 8.4]
                     ["Terminator 2: Judgment Day" 8.6] 
                     ["Predator 2" 6.1]
                     ["First Blood" 7.6]
                     ["Aliens" 8.5]
                     ["Terminator 3: Rise of the Machines" 6.4]
                     ["Rambo III" 5.4]
                     ["Mad Max" 7.0]
                     ["The Terminator" 8.1] 
                     ["Lethal Weapon 2" 7.1]
                     ["Predator" 7.8]
                     ["Lethal Weapon 3" 6.6]
                     ["RoboCop" 7.5]]}]}]}
