{:title "Parameterized Queries"
 :text-file "resources/chapters/chapter-3.md"

:exercises 
 [{:question "Find movie title by year"
   :inputs [{:type :query
             :value [:find ?title :in $ ?year :where ...]
             :correct-value [:find ?title 
                             :in $ ?year 
                             :where 
                             [?m :movie/year ?year] 
                             [?m :movie/title ?title]]}
            {:type :value
             :value "1988"}]}
  {:question "Given a list of movie titles, find the title and the year that movie was released."
   :inputs [{:type :query
             :value [:find ?title ?year :in ... :where ...]
             :correct-value [:find ?title ?year 
                             :in $ [?title ...] 
                             :where 
                             [?m :movie/title ?title] 
                             [?m :movie/year ?year]]}
            {:type :value
             :value "[\"Lethal Weapon\" \"Lethal Weapon 2\" \"Lethal Weapon 3\"]"}]}

  {:question "Write a query that, given an actor name and a relation with movie-title/rating, finds the movie titles and corresponding rating for which that actor was a cast member."
   :inputs [{:type :query
             :value [:find ?title ?rating :in ... :where ...]
             :correct-value [:find ?title ?rating 
                             :in $ ?name [[?title ?rating]] 
                             :where 
                             [?p :person/name ?name] 
                             [?m :movie/cast ?p] 
                             [?m :movie/title ?title]]}
            {:type :value
             :value "\"Mel Gibson\""}
            {:type :value
             :value "[[\"Die Hard\" 8.3]\n [\"Alien\" 8.5]\n [\"Lethal Weapon\" 7.6]\n [\"Commando\" 6.5]\n [\"Mad Max Beyond Thunderdome\" 6.1]\n [\"Mad Max 2\" 7.6]\n [\"Rambo: First Blood Part II\" 6.2]\n [\"Braveheart\" 8.4]\n [\"Terminator 2: Judgment Day\" 8.6]\n [\"Predator 2\" 6.1]\n [\"First Blood\" 7.6]\n [\"Aliens\" 8.5]\n [\"Terminator 3: Rise of the Machines\" 6.4]\n [\"Rambo III\" 5.4]\n [\"Mad Max\" 7.0]\n [\"The Terminator\" 8.1]\n [\"Lethal Weapon 2\" 7.1]\n [\"Predator\" 7.8]\n [\"Lethal Weapon 3\" 6.6]\n [\"RoboCop\" 7.5]]"}]}]}
