{:text-file "resources/chapters/chapter-4.md"
 :exercises 
 [{:question "What attributes are associated with a given movie."
   :inputs 
   [{:type :query
     :value [:find ?attr :in $ ?title :where ...]
     :correct-value [:find ?attr 
                     :in $ ?title 
                     :where 
                     [?m :movie/title ?title] 
                     [?m ?a]
                     [?a :db/ident ?attr]]}
    {:type :value
     :value "Commando"}]}
  
  {:question "Find the names of all people associated with a particular movie (i.e. both the actors and the directors)"
   :inputs 
   [{:type :query
     :value [:find ?name :in $ ?title [?attr ...] :where ...]
     :correct-value [:find ?name 
                     :in $ ?title [?attr ...] 
                     :where 
                     [?m :movie/title ?title] 
                     [?m ?attr ?p] 
                     [?p :person/name ?name]]}
    {:type :value
     :value "Die Hard"}
    {:type :value
     :value [:movie/cast :movie/director]}]}

  {:question "Find all available attributes, their type and their cardinality. This is essentially a query to find **the schema of the database**. To find all installed attributes you must use the `:db.install/attribute` attribute. You will also need to use the `:db/valueType` and `:db/cardinality` attributes as well as `:db/ident`."
   :inputs 
   [{:type :query
     :value [:find ?attr ?type ?card :where ...]
     :correct-value [:find ?attr ?type ?card 
                     :where 
                     [_ :db.install/attribute ?a] 
                     [?a :db/valueType ?t] 
                     [?a :db/cardinality ?c] 
                     [?a :db/ident ?attr] 
                     [?t :db/ident ?type] 
                     [?c :db/ident ?card]]}]}

  {:question "When was the seed data imported into the database? Grab the transaction of any datom in the database, e.g., `[_ :movie/title _ ?tx]` and work from there."
   :inputs [{:type :query
             :value [:find ?inst :where ...]
             :correct-value [:find ?inst 
                             :where 
                             [_ :movie/title _ ?tx] 
                             [?tx :db/txInstant ?inst]]}]}]}