{:title "Data Patterns"
 :text-file "chapters/chapter-2.md"
 :exercises
 [{:question "Find movie titles made in 1985"
   :inputs [{:type :query
             :value [:find ?title :where ...]
             :correct-value [:find ?title 
                             :where 
                             [?m :movie/title ?title] 
                             [?m :movie/year 1985]]}]}

  {:question "What year was \"Alien\" released?"
   :inputs [{:type :query
             :value [:find ?year :where ...]
             :correct-value [:find ?year 
                             :where 
                             [?m :movie/title "Alien"] 
                             [?m :movie/year ?year]]}]}
  
  {:question "Who directed RoboCop? You will need to use `[<movie-eid> :movie/director <person-eid>]` to find the director for a movie."
   :inputs [{:type :query
             :value [:find ?name :where ...]
             :correct-value [:find ?name :where [?m :movie/title "RoboCop"] [?m :movie/director ?d] [?d :person/name ?name]]}]}

  {:question "Find directors who have directed Arnold Schwarzenegger in a movie."
   :inputs [{:type :query
             :value [:find ?name :where ...]
             :correct-value [:find ?name 
                             :where 
                             [?p :person/name "Arnold Schwarzenegger"] 
                             [?m :movie/cast ?p] 
                             [?m :movie/director ?d] 
                             [?d :person/name ?name]]}]}]}
