{:title "Welcome"
 :text-file "resources/chapters/chapter-0.md"
 :exercises [{:question "Find all movies titles in the database." 
              :hints []
              :inputs [{:type :query
                        :value ""
                        :correct-value "[:find ?title :where [_ :movie/title ?title]]"}]}]}