.textcontent h1 {
    color: #08c;
    font-size: 18pt;
}

.textcontent h2 {
    color: #08c;
    font-size: 16pt;
}

.textcontent p {
    text-align: justify;
    line-height: 1.6em;
}

.CodeMirror {
    height: auto;
    border: 1px solid lightgrey;
    margin-bottom:10px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

table.resultset {
    font-family: monospace;
}

table.resultset thead {
    font-weight: bold;
}